In [1]:
import pandas as pd
import math

In [2]:
df = pd.read_csv("UBER DATA.csv")

C:\Users\HEMANT\AppData\Local\Temp\ipykernel_3088\3081619992.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("UBER DATA.csv")

In [3]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-11-01 00:03:03,2023-11-01 01:04:08,2.0,13.60,1.0,N,132,26,2,61.8,2.75,0.5,0.00,0.00,1.0,66.05,0.0,1.75
1,1,2023-11-01 00:03:28,2023-11-01 00:23:59,0.0,3.50,1.0,N,140,7,1,20.5,3.50,0.5,5.10,0.00,1.0,30.60,2.5,0.00
2,2,2023-10-31 23:58:05,2023-11-01 00:54:03,4.0,18.61,2.0,N,132,230,1,70.0,0.00,0.5,16.54,6.94,1.0,99.23,2.5,1.75
3,2,2023-11-01 00:03:50,2023-11-01 00:04:59,1.0,0.39,1.0,N,236,236,1,4.4,1.00,0.5,1.88,0.00,1.0,11.28,2.5,0.00
4,2,2023-11-01 00:06:30,2023-11-01 00:14:25,1.0,1.20,1.0,N,236,141,1,10.0,1.00,0.5,3.00,0.00,1.0,18.00,2.5,0.00

In [4]:
df1 = df[df["VendorID"] == 1]

In [5]:
grp_df = df1.groupby('trip_distance')['total_amount'].mean().reset_index()

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [7]:
grp_df.head()

   trip_distance  total_amount
0            0.0     24.473112
1            0.1     16.349198
2            0.2     12.448515
3            0.3     12.008897
4            0.4     12.537062

In [8]:
data = grp_df.copy()

In [9]:
data['total_amount'] = data['total_amount'].astype(int)

In [10]:
n = data.shape[0]

x_bar = data['trip_distance'].sum()/n
y_bar = data['total_amount'].sum()/n

In [11]:
data['x-x̄'] = data['trip_distance']-x_bar
data['y-ȳ'] = data['trip_distance']-y_bar

data['x-x̄'] = data['x-x̄'].astype(int)
data['y-ȳ'] = data['y-ȳ'].astype(int)

data['(x-x̄)^2'] = data['x-x̄']**2
data['(y-ȳ)^2'] = data['y-ȳ']**2
data['(x-x̄)*(y-ȳ)'] = data['x-x̄']*data['y-ȳ']

data.head()

   trip_distance  total_amount  x-x̄  y-ȳ  (x-x̄)^2  (y-ȳ)^2  (x-x̄)*(y-ȳ)
0            0.0            24   -58 -136      3364    18496          7888
1            0.1            16   -58 -135      3364    18225          7830
2            0.2            12   -58 -135      3364    18225          7830
3            0.3            12   -58 -135      3364    18225          7830
4            0.4            12   -57 -135      3249    18225          7695

In [12]:
a = data['(x-x̄)^2'].sum()/n
b = data['(y-ȳ)^2'].sum()/n

p = math.sqrt(a)
q = math.sqrt(b)

h = data['(x-x̄)*(y-ȳ)'].sum()/n
i = p*q

r = h/i

In [13]:
print(r)
if 0.3 < r < 0.75:
    print('It is Moderately positively Correlated!')
elif 0.75 <= r < 1:
    print('It is Highly positively Correlated!')
elif r >= 1:
    print('It is perfect positively Correlated!')
elif -0.3 < r < -0.75:
    print('It is Moderately negatively Correlated!')
elif -0.75 <= r < -0.1:
    print('It is Highly negatively Correlated!')
elif r <= -1:
    print('It is perfect negatively Correlated!')
else:
    print('It is not that correlated')

0.9877046473107939
It is Highly positively Correlated!